{% extends 'base.html' %}

{% block meta %}
<style>
    body {
        font-family: 'Poppins', sans-serif;
        background:  linear-gradient(to bottom,#c24eaf, #7982e6);
        height: 100vh;
    }
</style>
{% endblock meta %}

{% block content %}  

<div class = "create-task text-center">
    <h3>Let's Create Your New Task!</h3>
    <div class="card p-3 mb-2 bg-ligth text-light shadow-lg p-3 mb-5 bg-body rounded position-absolute top-50 start-50 translate-middle" style="width: 40rem; height: 15rem;">
        <div class="card-body">
            <style>
                .card {
                    background: linear-gradient(to bottom,#4e286d, #121216) ;
                }
            </style>
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        Task:
                        <input type="text" name="title" placeholder=" Write your task here" class="form-control" required>
                    </tr>
               
                    <tr>
                        Description:
                        <input type="text" name="description" placeholder="Describe your task here" class="form-control" required>
                    </tr>

                    <p></p>
                    <input type="submit" value="Tambahkan Task Baru">
                </table>

            </form>
        </div>
    </div>
</div>
{% endblock content %}