{% extends 'base.html' %}

{% block content %}
<h5>Nama: {{nama}}</h5>


<table>
    <thead>
        <tr>
            <th>Tanggal Pembuatan</th>
            <th>Judul</th>
            <th>Deskripsi</th>
        </tr>
    </thead>
    
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    <tbody>
        {% for item in todo_items %}
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<button><a href="{% url 'todolist:buat-task' %}">Create Task</a></button>

{% endblock content %}