{% extends 'base.html' %}

 {% block content %}

 <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

  <h1>Lab 1 Assignment PBP/PBD</h1>

  <h4>Name: {{nama}}</h4> 
  

  <h4>Student ID: {{NPM}}</h4>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
{% for barang in list_barang %}
    <tr>
        <th>{{barang.item_name}}</th>
        <th>{{barang.item_price}}</th>
        <th>{{barang.item_stock}}</th>
	<th>{{barang.rating}}</th>
        <th>{{barang.description}}</th>
        <th><a href="{{barang.item_url}}">{{barang.item_url}}</a></th>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}

</body>
</html>
